:root {
  --elpmcc-maroon: #5B0422;
  --elpmcc-gold: #F4B22F;
  --elpmcc-grey-light: #D1D1D1;
  --elpmcc-grey-mid: #9F9F9F;
  --elpmcc-cream: #FBE8C0;
  --elpmcc-navy: #084887;
  --elpmcc-near-black: #02111B;
}
